


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.full{
  position: relative;
  margin-top : 250px;
}
.card{
  position: absolute;
  background-image: url("./assets/8.jpeg");
  background-repeat: no-repeat;
  width: 430px;
  height : 270px;
  background-color: bisque;
  border-radius: 10px;
  top: -140px;
  left : 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.form{
  margin: 0 auto;
  height: 560px;
  width: 560px;
  background-color: white;
  border-radius: 10px;
}
body{
  background-color: lightblue;
  box-sizing: border-box;
}

.w100{
  width: 100%;
}
.w70{
  width: 70px;
}

.h55{
  height : 55px;
}

.logo-row{
  display: flex;
  justify-content: space-between;
}
